{% extends '@Back/layout.html.twig' %}

{% block backoffice_body %}
    <h1>Liste des voyages</h1>

    <div class="row">
        <div class="col-md-3">
            {{ form_start(form) }}
            {{ form_widget(form.destination, {'attr': {'class':'form-control' , 'placeholder' : 'Description' }}) }}
            {{ form_widget(form.description, {'attr': {'class':'form-control' , 'placeholder' : 'Description' }}) }}
            {{ form_widget(form.duree, {'attr': {'class':'form-control' , 'placeholder' : 'Durée' }}) }}
            {{ form_widget(form.prix, {'attr': {'class':'form-control' , 'placeholder' : 'Prix' }}) }}
            {{ form_widget(form.datedepart, {'attr': {'class':'form-control' , 'placeholder' : 'Date départ' }}) }}
            {{ form_widget(form) }}
            <input type="submit" value="Ajouter" class="btn btn-success" style="margin-top: 15px"/>
            {{ form_end(form) }}
        </div>

        <div class="col-md-9">
            <table class="table table-striped table-bordered" id="mytable">
                <thead>
                <tr>
                    {#<th>Id</th>#}
                    <th>Description</th>
                    <th>Duree</th>
                    <th>Prix</th>
                    <th>Datedepart</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for voyage in voyages %}
                    <tr>
                        {#<td><a href="{{ path('voyage_show', { 'id': voyage.id }) }}">{{ voyage.id }}</a></td>#}
                        <td>{{ voyage.description }}</td>
                        <td>{{ voyage.duree }}</td>
                        <td>{{ voyage.prix }}</td>
                        <td>{% if voyage.datedepart %}{{ voyage.datedepart|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('voyage_edit', { 'id': voyage.id }) }}" class="btn btn-xs btn-warning">Modifier</a>

                                </li>
                                <li>
                                    <a href="{{ path('voyage_delete', { 'id': voyage.id }) }}" class="btn btn-xs btn-danger">Supprimer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>


    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('voyage_new') }}">Create a new voyage</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}

{% block backoffice_js %}

    <script src="{{ asset('template_vendor/datatables.net/js/jquery.dataTables.js') }}"></script>
    <!-- Include Language file if we want to use it. -->

    <script>


        $(document).ready(function () {
            $('#mytable').DataTable();
        });






    </script>




{% endblock %}
