{% extends '@Back/layout.html.twig' %}

{% block backoffice_body %}
    <h1>Voyage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voyage.description }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ voyage.duree }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voyage.prix }}</td>
            </tr>
            <tr>
                <th>Datedepart</th>
                <td>{% if voyage.datedepart %}{{ voyage.datedepart|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voyage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('voyage_edit', { 'id': voyage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
